@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500&display=swap');

:root {
   --title-font-family: 'Lexend Zetta', sans-serif;
   --text-font-family: 'Poppins', sans-serif;
    --white: #fff;
    --black: #000;
    --cyan-bluish-gray: #abb8c3;
    --pale-pink: #f78da7;
    --vivid-red: #cf2e2e;
    --liminous-vivid-orange: #ff6900;
    --liminous-vivid-amber: #fcb900;
    --light-green-cyan: #7bdcb5;
    --pale-cyan-blue: #8ed1fc;
    --vivid-cyan-blue: #0693e3;
    --vivid-purple: #9b51e0;

    --blue:  #d6eaf8;
    --pale-blue: #eaf2f8;  
    --pink :  #fdf2e9 ;
    --pale-orange : #fdebd0;
    --pale-green :  #eafaf1 ;    
}

body {
    margin: 0;
    box-sizing: border-box;
   

}
h2{
    font-family: var(--title-font-family);
    font-weight: 400;
    font-size: 1.2rem ;
}
p{
    font-family: var(--text-font-family);
}
.btn{
    background: rgb(255, 198, 93);
    border-radius: 10px;
    font-family: var(--text-font-family);
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    margin-bottom: 10px;
}
