@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    font-family: 'Lexend Zetta', sans-serif;
    --white: #fff;
    --black: #000;
    --cyan-bluish-gray: #abb8c3;
    --pale-pink: #f78da7;
    --vivid-red: #cf2e2e;
    --liminous-vivid-orange: #ff6900;
    --liminous-vivid-amber: #fcb900;
    --light-green-cyan: #7bdcb5;
    --pale-cyan-blue: #8ed1fc;
    --vivid-cyan-blue: #0693e3;
    --vivid-purple: #9b51e0;
    
}

body {
    font-family: 'Lexend Zetta', sans-serif;
}

.menu {
    font-family: 'Lexend Zetta', sans-serif;
}

.img-logo {
    width: 100px;
}

.carousel-img {
    width: 50%;       
}

.container {
    width: 60%;
}
