@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;300;400;500&display=swap');

:root {
   --title-font-family: 'Lexend Zetta', sans-serif;
   --text-font-family: 'Poppins', sans-serif;
    --white: #fff;
    --black: #000;
    --cyan-bluish-gray: #abb8c3;
    --pale-pink: #f78da7;
    --vivid-red: #cf2e2e;
    --liminous-vivid-orange: #ff6900;
    --liminous-vivid-amber: #fcb900;
    --light-green-cyan: #7bdcb5;
    --pale-cyan-blue: #8ed1fc;
    --vivid-cyan-blue: #0693e3;
    --vivid-purple: #9b51e0;

    --blue:  #d6eaf8;
    --pale-blue: #eaf2f8;  
    --pink :  #fdf2e9 ;
    --pale-orange : #fdebd0;
    --pale-green :  #eafaf1 ;
    
}

body {
    margin: 0;
    box-sizing: border-box;
}

.menu {
    font-family: var(--text-font-family);
    font-weight: 400;
    font-size: 1.2rem ;
}

.img-logo {
    width: 100px;
}

.container {
    width: 60%;
}

nav {
    background-color: var(--white);
}


/* Product card */

.card {
    /* border: 1px solid var(--blue); */
    border: none;
}

.card a {
    color: var(--black);
    font-family: var(--title-font-family);
  
}

.card-text {
    font-family: var(--text-font-family);
}

.card-img {
    width: 70%;
    justify-content: center;
}

.card-body {
    background-color: var(--blue);
    height: 30vh;
    position: relative;
}

.card-body-content {
    /* padding-top: 100px; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



